{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer", {
        "releaseRules": [
          { "type": "build", "scope": "Needs bump", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-pub",
      {
        "publishPub": false,
        "updateBuildNumber": true
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "flutter build apk"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "pubspec.yaml"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/app/outputs/apk/release/revanced-manager*.apk"
          },
        ],
        "commits": [
          "message": "chore: Release v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        ],
        "successComment": false
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [{"from": "main", "to": "dev"}],
        "clearWorkspace": true
      }
    ]
  ]
}
