{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer", {
        "releaseRules": [
          { "type": "build", "scope": "Needs bump", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "powershell -Command \"(Get-Content gradle.properties) -replace '^version=.*', 'version=${nextRelease.version}' | Set-Content gradle.properties\""
            }
    ],
   [
         "@semantic-release/exec",
         {
           "publishCmd": ".\..\gradlew build"
         }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties"
        ],
        "message": "chore: Release API v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        backmergeBranches: [{"from": "main", "to": "dev"}],
        clearWorkspace: true
      }
    ]
  ]
}